<center><h3> Employee Details </h3> </center>
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag @employee.image, height: "164px", width: "180px",
        class: "rounded mx-auto d-block" %>  
    </div>
    <div class="col-md-8">
      <table class="table table-striped">
      <tr>
        <th>Emplyee ID</th>
        <td><%= @employee.employee_id %></td>
      </tr> 
      <tr>
        <th>Name</th>
        <td><%= @employee.emp_name %></td>
      </tr>
      <tr>
        <th>Designation</th>
        <td><%= @employee.designation %></td>
      </tr>
      <tr>
        <th>Assigned Project(s)</th>
        <td>
          <ul class="list-group">
            <% @employee.projects.each do |proj| %>
              <li class="list-group-item list-group-item-info">
                <%= proj.name %>
              </li>
            <% end %>
          </ul>
        </td>
      </tr> 
      </table> 
    </div>
  </div> 
</div>

<%= link_to 'Back', employees_path,class: "ml-2 btn btn-sm btn-primary" %></div>
