<h3 style="color:Tomato;">Project Details</h3>
<div>
<table class="table table-hover table-bordered table-striped ">
<pre>
  <tr>
 <td><b>Name: </b><%= @project.name%></b></td></tr>
<tr>
<td><b>Description: </b><%= @project.description%></b></td></tr>
<tr>
<td><b>Tech stack: </b><%= @project.tech_stack %></b></td></tr>
<tr>
<td><b>Client details: </b><%= @project.clent_details %></b></pre></td></tr>
<tr>
        
        <td><b>Assigned Employee(s):
          <ul class="list-group">
            <% @project.employees.each do |emp| %>
              <li class="list-group-item list-group-item-info">
                <%= emp.emp_name %>
              </li></ul><%end%>
</table>
</div>
<br>
<div>
<%= link_to 'Remove', @project, method: :delete,
  class: "btn btn-sm btn-danger", data: { confirm: 'Are you sure?' } %>

<%= link_to 'Back', projects_path,class: "btn btn-sm btn-primary" %></div>
